<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="MainFrame">
		<title>Image Editor</title>
		<centered>1</centered>
		<size>1100,600</size>
		<id_arg>0</id_arg>
		<object class="wxPanel" name="ID_MAIN_PANEL" variable="mainPanel" member="yes">
			<pos>0,384</pos>
			<size>960,600</size>
			<handler function="OnmainPanelPaint" entry="EVT_PAINT" />
			<object class="wxButton" name="ID_BTN_OPEN" variable="openBtn" member="yes">
				<label>Open</label>
				<pos>24,16</pos>
				<handler function="OnOpenClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BTN_RESET" variable="resetBtn" member="yes">
				<label>Reset</label>
				<pos>128,16</pos>
				<handler function="OnresetBtnClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxStaticBitmap" name="ID_BITMAP_ORIGIN" variable="bitmapOrigin" member="yes">
				<pos>24,80</pos>
				<size>512,336</size>
			</object>
			<object class="wxStaticBitmap" name="ID_BITMAP_AFTER" variable="bitmapAfter" member="yes">
				<pos>560,80</pos>
				<size>512,336</size>
			</object>
			<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
				<pos>24,432</pos>
				<size>1056,8</size>
			</object>
			<object class="wxStaticLine" name="ID_STATICLINE2" variable="StaticLine2" member="yes">
				<pos>536,64</pos>
				<size>24,368</size>
				<style>wxLI_VERTICAL</style>
			</object>
			<object class="wxButton" name="ID_BTN_CLOSE" variable="closeBtn" member="yes">
				<label>Close</label>
				<pos>992,544</pos>
				<handler function="OncloseBtnClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxStaticLine" name="ID_STATICLINE3" variable="StaticLine3" member="yes">
				<pos>24,56</pos>
				<size>1056,8</size>
			</object>
			<object class="wxButton" name="ID_BTN_ANTI" variable="antiBtn" member="yes">
				<label>Anti</label>
				<pos>24,448</pos>
				<handler function="OnantiBtnClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BTN_MONO" variable="monoBtn" member="yes">
				<label>Mono</label>
				<pos>24,488</pos>
				<handler function="OnmonoBtnClick" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BTN_ENHANCE" variable="enhanceBtn" member="yes">
				<label>Enhance</label>
				<pos>128,448</pos>
				<handler function="OnButton1Click1" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BTN_EQUAL" variable="equalBtn" member="yes">
				<label>Equal</label>
				<pos>128,488</pos>
				<handler function="OnequalBtnClick" entry="EVT_BUTTON" />
			</object>
		</object>
	</object>
</wxsmith>
